
html, body {
    height: 100%;
    margin: 0;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    background: none;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: linear-gradient(180deg, #0a0a0a 0%, #000000 100%);

    padding-inline: 130px;
}

.svg-img a{
    padding: 0%;
    margin: 0%;
}

.svg-img img {
    max-width: 100%;
    width: 120px;
    
    filter: invert(100%);

    margin: 0%;
    padding: 0%;
}


nav ul {
    display: flex;
    list-style: none;
    
    gap: 20px; 
    margin: 0;
    padding: 0;
}


nav li {
    transition: background-color 0.3s ease;
}

nav a {
    display: block;
    
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;

    padding: 30px;
    margin: 0%;
}

/* Efecto hover */
nav li:hover {
    background-color: #3d0000;
        
}


header{
    margin: 0%;
    padding: 5%;

    background-image: url(/imagenes/hero\ img.jpg);
    background-repeat: no-repeat;
    background-size:100% ;

    color: #fafafa;
    font-weight: bold;
    font-size: 30px;
}

footer {
    margin: 0%;
    padding: 2%;

    background: #000000;
    border-top: 1px solid #3d0000;

    color: #fafafa;
}



.caja-contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 10%;
    background-image: url(/imagenes/bg\ contacto.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    
    gap: 10px;
    text-align: left;

    max-width: 50%;
    width: 50%;

    background-color: #ccc9c3ae;
    padding: 5%;
    border-radius: 20px;

    font-weight: bold;
    font-size: x-large ;
}

form h2 {
    text-align: center;
}

form button, input, textarea  {
    padding: 15px;
    
    border: 0px;
    border-radius: 10px;

    resize: none;    
}   


.caja-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));    
    justify-items: center;
    
    margin: 0%;
    padding: 4%;
    
    gap: 50px;
    
    background-image: url(/imagenes/bg\ contacto.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


.item-grid {
    
    background: rgba(255, 255, 255, 0.328);
    border-radius: 10px;

    color: white;

    width: 100%;
    max-width: 500px;

    max-height: 100%;
    height: 500px;

}




.contenido {
    grid-template-columns: repeat(1, 1fr);
}

.proyectos {
    grid-template-columns: repeat(2, 1fr);
    
}

.proyecto {
    max-width: 1000px;
    transition: transform 0.8s ease;
}
.proyecto:hover {
    transform: scale(1.02);
}


.inicio {
    padding: 10px;
    max-width: 50%;

    transition: transform 0.6s ease;
}

.inicio:hover {
    transform: scale(1.05);
}

.inicio img {
    width: 100%;
    max-width: 550px;
}

.nosotros  {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.equipo {
    height: 350px;
}

#titulo-nosotros {
    padding: 2%;
    margin: 0%;
    color: #fafafa;
    background: linear-gradient(#000000 30%);
}


